PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vehicle-db
LOG_SERVER_URL=https://api.testserver.com
LOG_AUTH_EMAIL=admin@test.com
LOG_AUTH_PASSWORD=password123
NODE_ENV=development
